<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Flask Dojo</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <form action="/" method="GET">
    <input type="submit" value="Nyomassad get!"></form>
    <form action="/" method="POST">
    <input type="submit" value="Nyomassad! post"></form>

    <p>{{ count }}</p>

</body>

</html>